* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, black, black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, 'Segoe UI', sans-serif;
}

.slider {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 20px 35px -10px black;
}

.slides {
    width: 700px;
    max-width: 85vh;
    /*This is mostly fixed with on larger screens*/
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    /*for better positioning*/
}

.slide {
    width: 100%;
    display: none;
    border-radius: 20px;
    transition: opacity 0.3 ease;
}

.slide-active {
    display: block;
}

.controls {
    display: flex;
    border: none;
    color: white;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

button {
    background: rgb(74, 81, 185);
    border: none;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
    padding: x8px 28px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: blue;
    transform: scale(1.05);
}